[Unit]
Description=Lightning / Cloudflared Tunnel
After=syslog.target network.target

[Service]
Type=simple
PrivateDevices=no

WorkingDirectory={{ working_dir }}
PIDFile={{ pid_path }}

ExecStart=/usr/bin/cloudflared --config {{ config_path }} tunnel --no-autoupdate run --token {{ cloudflared.token }}

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
